__pycache__
*.po~
.idea
.cicd-tools/boxes
.cicd-tools/manifest.json
.ruff_cache
.vale/*
!.vale/Vocab
.venv
.vscode
coverage
docs/_build
docs/reference
docs/reference_testing
docs/locales/**/LC_MESSAGES/*.mo
locales/**/LC_MESSAGES/*.mo
